
### General File Extensions ###
**/*.7z
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip
**/*.key
**/*.pem
**/*.bin
**/*.swp
**/*.bak
**/*.tmp
**/*.log
**/*.sql
**/*.sqlite
**/*.slo
**/*.lo
**/*.o
**/*.obj
**/*.gch
**/*.pch
**/*.so
**/*.dylib
**/*.dll
**/*.lai
**/*.la
**/*.a
**/*.lib
**/*.com
**/*.class
**/*.exe
**/*.out
**/*.app
**/*.pid
**/*.seed
**/*.lock
**/*.cache
**/*.crt

### Windows ###
**/*[tT]humbs.db

### Linux ###
**/.fuse_hidden*
**/.directory
**/.Trash-*
**/.nfs*

### macOS ###
**/*.DS_Store
**/.AppleDouble
**/.LSOverride
**/._*
**/.DocumentRevisions-V100
**/.fseventsd
**/.Spotlight-V100
**/.TemporaryItems
**/.Trashes
**/.VolumeIcon.icns
**/.com.apple.timemachine.donotpresent
**/.AppleDB
**/.AppleDesktop
**/Network\ Trash\ Folder
**/Temporary\ Items
**/.apdisk
**/Icon

### Build Output ###
**/build/


### Clojure ###
**/pom.xml
**/pom.xml.asc
**/lib/
**/classes/
**/target/
**/checkouts/
**/.lein-deps-sum
**/.lein-repl-history
**/.lein-plugins/
**/.lein-failures
**/.nrepl-port

### Eclipse ###
**/.metadata
**/bin/
**/tmp/
**/*~.nib
**/local.properties
**/.settings/
**/.loadpath
**/.recommenders
**/.externalToolBuilders/
**/*.launch
**/*.pydevproject
**/.cproject
**/.factorypath
**/.target
**/.tern-project
**/.texlipse
**/.springBeans
**/.cache-main
**/.scala_dependencies
**/.worksheet
**/.project
**/.classpath

### Emacs ###
**/*~
**/\#*\#
**/.emacs.desktop
**/.emacs.desktop.lock
**/*.elc
**/auto-save-list
**/tramp
**/.\#*
**/.org-id-locations
**/*_archive
**/*_flymake.*
**/eshell/history
**/eshell/lastdir
**/elpa/
**/*.rel
**/auto/
**/.cask/
**/dist/
**/flycheck_*.el
**/.projectile
**/.dir-locals.el

### Gcov ###
**/*.gcno
**/*.gcda
**/*.gcov

### Go ###
**/*.test
**/.glide/

### Intellij ###
**/.idea/
**/cmake-build-debug/
**/*.iws
**/out/
**/.idea_modules/
**/atlassian-ide-plugin.xml

### Matlab ###
**/*.asv
**/*.m~
**/*.mex*
**/slprj/
**/octave-workspace
**/*.autosave

### MeteorJS ###
**/.meteor/local

### Node ###
**/logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pids
**/lib-cov/
**/.nyc_output/
**/.grunt/
**/bower_components/
**/.lock-wscript
**/node_modules/
**/jspm_packages/
**/.npm/
**/.eslintcache
**/.node_repl_history
**/.yarn-integrity
**/.env

### Python ###
**/.pydevproject
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.Python
**/env/
**/build/
**/develop-eggs/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/sdist/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/*.manifest
**/*.spec
**/pip-log.txt
**/pip-delete-this-directory.txt
**/htmlcov/
**/.tox/
**/.coverage
**/.coverage.*
**/nosetests.xml
**/coverage.xml
**/*,cover
**/.hypothesis/
**/*.mo
**/*.pot
**/local_settings.py
**/.webassets-cache
**/.scrapy
**/docs/_build/
**/target/
**/.ipynb_checkpoints
**/.python-version
**/celerybeat-schedule
**/*.sage.py
**/.venv
**/venv/
**/ENV/
**/.spyderproject
**/.spyproject
**/.ropeproject

### SublimeText ###
**/*.sublime-workspace
**/*.sublime-project
**/*.last-run
**/*.ca-list
**/*.ca-certs/
**/*.ca-bundle
**/*.*-ca-bundle

### Vim ###
**/[._]*.swo
**/Session.vim
**/.netrwhist

### VisualStudioCode ###
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

### Xcode ###
**/DerivedData/
**/*.pbxuser
!**/default.pbxuser
**/*.mode1v3
!**/default.mode1v3
**/*.mode2v3
!**/default.mode2v3
**/*.perspectivev3
!**/default.perspectivev3
**/xcuserdata/
**/*.moved-aside
**/*.xccheckout
**/*.xcscmblueprint
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/xcshareddata/
!**/*.xcworkspace/contents.xcworkspacedata
**/*.gcno

